/* Ceci est un commentaire pour montrer la syntaxe du commentaire.*/

QPushButton#backGestion {

    background-image: url(../PROJET_AFFICHEUR_INDICE/images/backArrow.png);

}

QPushButton:hover {
    color: dodgerblue;
}

QDialog {
    background-color: powderblue;
}

